/* nav sty */
.nav{
    padding: 2rem 0;
}
.nav-icon,.nav-close,.nav-bgpverlay{
    display: none;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.nav-list li{
    display: inline-block;
    margin: 0 1rem;
}
.nav-list .nav-link{
    font-size: 1.8rem;
    font-family: 'Poppins';
    color: var(--black-2);
    padding: 0.5rem; 
}
.nav-list li:hover .nav-link{
    color: var(--green-1);
}
/* mobile */
@media only screen and (max-width:768px){
    .nav{
        position: relative;
    }
    .nav-icon{
        display: block;
    }
    .nav-icon svg,.nav-close svg{
        pointer-events: none;
        height: 30px;
        width: 30px;
    }
    .nav-close {
        display: block;
        position: absolute;
        color: var(--black-1);
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }
    .nav-list{
        z-index: 1000;
        position: absolute;
        left: 100%;
        top: 0;
        height: 100vh;
        width: 80%;
        background-color: var(--lightGreen-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        transform: translatex(0%);
        overflow: hidden;
        transition: all 0.3s ease-in transfrom;
    }
    .nav-list.show{
        transform: translatex(-100%);
    }
    .nav-list li{
        display: block;
        text-align: right;
        margin-bottom: 2rem;
    }
    .nav-list a{
        font-size: 1.6rem;       
    }
    .nav-bgpverlay{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        background-color: rgba(18, 24, 14,0.8);
        display: none;
    }
    .nav-bgpverlay.active{
        display: block;
    }

}
/* global button sty */
.btn{
    color: var(--green-1);
    font-family:Poppins; 
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 1.2rem 2rem; 
}
.primary-btn{
    color: var(--white-1);
    background-color: var(--green-1);
}
@media only screen and (min-width:768px){
    .btn{
        padding: 1.3rem 2rem;
        font-size: 2rem;
    }
}
/* footer style */
footer{
    background-color: var(--lightGreen-1);
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.footer-logo{
    width: 150px;
    margin-bottom: 2rem;
    height: 100px;
    object-fit: contain;
}
.footer-desc{
    font-size: 1.4rem;
    color: var(--black-2);
    margin-bottom: 2rem;
}
.footer-social-title{
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1rem;

}
.footer-social li{
    display: inline-block;
    margin-right: 0.5rem;
}
.footer-social a{
    padding: 0.5rem 0.8rem;
    background-color: var(--white-1);
    border: 1px solid var(--green-2);
    border-radius: 8px;
}
.footer-social svg{
    width: 20px;
    color: var(--black-2);
}
.footer-title{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--black-1);
    font-weight: 600;
}
.footer-text a{
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: var(--black-2);
    font-family: Raleway;
    font-weight: 500;
    line-height: 1.4em;
}
@media only screen and (min-width:768px){
    footer{
        padding-top: 8rem;
        padding-bottom: 4rem;
    }
    .footer-wrapper{
        flex-direction: row;
    }
    .footer-col1{
        flex: 4;
    }
    .footer-col2,
    .footer-col3,
    .footer-col4{
        flex: 2;
    }
    .footer-desc{
        max-width: 300px;
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }
    .footer-social-title{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .footer-title{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .footer-text a{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    #copyright{
        padding: 1rem 0;

    }
    .copyright-text{
        padding: 1rem 0;
        text-align: center;
    }

}









